:root {
  --primary-color: #e0e0e0;
  --secondary-color: #2e2e2e;
  --accent-color: #23527c;
  --text-color: burlywood;
  --hover-color: #807676;
  --nav-color: #1e1a1a;
  --background-color: #2e2e2e;
  --new-color:black;
}


.light-mode{
  --primary-color: #1e1a1a;
  --secondary-color: #2e2e2e;
  --accent-color: #23527c;
  --text-color: #1e1a1a;
  --hover-color: #807676;
  --nav-color: #e0e0e0;
  --background-color:#e0e0e0;
  --new-color:white;
}

/* Books Section Styles */
  
  .contain {
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: var(--nav-color);
    color: var(--primary-color);
    margin-top: 50px;
}
.contain h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
.books {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.book {
    width: 300px;
    height: 400px;
    margin: 20px;
    display: inline-block;
    transition: transform 0.5s,background-color 0.5s ;
    background-color: var(--text-color);
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .book:hover {
    transform: scale(1.5);
    background-color: var(--primary-color);
  }
  
  .book img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .book-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }


/* Desktop and Laptop Screens */
@media (min-width: 1200px) {
    .book {
      width: 350px;
      height: 450px;
      margin: 25px;
    }
  }
  
 /* Tablet Screens */
@media (min-width: 768px) and (max-width: 1199px) {
    .books {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .book {
      width: 300px;
      height: 400px;
      margin: 20px;
    }
  }
  
  /* Mobile Screens */
  @media (min-width: 480px) and (max-width: 767px) {
    .books {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
    }
    .book {
      width: 250px;
      height: 350px;
      margin: 15px;
    }
  }
  
  /* Small Mobile Screens */
  @media (max-width: 479px) {
    .books {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .book {
      width: 200px;
      height: 300px;
      margin: 10px;
    }
  }

  /* Desktop and Laptop Screens */
@media (min-width: 1200px) {
    .book:hover {
      transform: scale(1.5);
      background-color: var(--primary-color);
    }
  }
  
  /* Tablet Screens */
  @media (min-width: 768px) and (max-width: 1199px) {
    .book:hover {
      transform: scale(1.3);
      background-color: var(--primary-color);
    }
  }
  
  /* Mobile Screens */
  @media (min-width: 480px) and (max-width: 767px) {
    .book:hover {
      transform: scale(1.2);
      background-color: var(--primary-color);
    }
  }
  
  /* Small Mobile Screens */
  @media (max-width: 479px) {
    .book:hover {
      transform: scale(1.1);
      background-color: var(--primary-color);
    }
  }



/*footer stats*/

.footer {
    background-color:var(--new-color);
    color: var(--primary-color);
    padding: 20px;
    text-align: center;
    clear: both;
    position: relative;
    z-index: 10;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
  }
  
  .footer h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .footer p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .social-links {
    margin-top: 20px;
  }
  
  .social-links a {
    margin-right: 20px;
    font-size: 24px;
    color: var(--primary-color);
  }
  
  .social-links a:hover {
    color: var(--hover-color);
  }
  
  .copyright {
    font-size: 18px;
    margin-top: 20px;
  }


  /* Desktop and Laptop Screens */
@media (min-width: 1200px) {
  .footer {
    padding: 40px;
    text-align: center;
    width: 100%;
  }
  .footer h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .footer p {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .social-links {
    margin-top: 30px;
  }
  .social-links a {
    margin-right: 30px;
    font-size: 36px;
    color: var(--primary-color);
  }
  .social-links a:hover {
    color: var(--hover-color);
  }
  .copyright {
    font-size: 24px;
    margin-top: 30px;
  }
}


  /* Tablet Screens */
@media (min-width: 768px) and (max-width: 1199px) {
    .footer {
      padding: 20px;
      width: 100%;
    }
  }
  
  /* Mobile Screens */
  @media (min-width: 480px) and (max-width: 767px) {
    .footer {
      padding: 20px;
      width: 100%;
    }
  }
  
  /* Small Mobile Screens */
  @media (max-width: 479px) {
    .footer {
      padding: 10px;
      width: 100%;
    }
    .social-links {
      margin-top: 10px;
    }
    .copyright {
      font-size: 16px;
      margin-top: 10px;
    }
  }

/* Contact Page CSS Styling */

.contact-page {
  background-color: var(--nav-color);
  color: var(--primary-color);
  padding: 20px;
  margin-top: 100px;
}

.contact-page h1 {
  font-size: 45px;
  margin-bottom: 10px;
  color: var(--text-color);
}

.contact-page p a{
  color: var(--primary-color);
  text-decoration: none;
}

.contact-info {
  margin-bottom: 20px;
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.contact-info div {
  margin-bottom: 20px;
}

.contact-info h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.contact-info p {
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.social-links {
  margin-top: 20px;
  display: inline-block;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.social-links a {
  margin-right: 20px;
  font-size: 24px;
  color: var(--primary-color);
}

.social-links a:hover {
  color: var(--hover-color);
}

/* Desktop and Laptop Screens */
@media (min-width: 1200px) {
  .contact-page {
    padding: 40px;
    text-align: center;
    width: 100%;
  }
  .contact-info {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .social-links {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}

/* Tablet Screens */
@media (min-width: 768px) and (max-width: 1199px) {
  .contact-page {
    padding: 30px;
    width: 100%;
  }
  .contact-info {
    width: 60%;
  }
  .social-links {
    width: 60%;
  }
}

/* Mobile Screens */
@media (min-width: 480px) and (max-width: 767px) {
  .contact-page {
    padding: 20px;
    width: 100%;
  }
  .contact-info {
    width: 80%;
  }
  .social-links {
    width: 80%;
  }
}

/* Small Mobile Screens */
@media (max-width: 479px) {
  .contact-page {
    padding: 10px;
    width: 100%;
  }
  .contact-info {
    width: 90%;
  }
  .social-links {
    width: 90%;
  }
}

/* Subscribe Section Styles */

.subscribe-section {
  background-color: var(--nav-color);
  color: var(--primary-color);
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.subscribe-section h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--text-color);
}

.subscribe-section p {
  font-size: 18px;
  margin-bottom: 20px;
}

#subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#subscribe-form input[type="email"] {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 10px;
}

#subscribe-form button[type="submit"] {
  background-color: var(--hover-color);
  color: var(--new-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
  font-size: 18px;
}

#subscribe-form button[type="submit"] i {
  margin-right: 10px;
}

#subscribe-form button[type="submit"]:hover {
  background-color: rgb(107, 96, 82);
}

span {
  color: var(--text-color);
  margin-top: 10px;
  display: block;
}

/* Desktop and Laptop Screens */
@media (min-width: 1200px) {
  .subscribe-section {
    padding: 40px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  .subscribe-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .subscribe-section p {
    font-size: 24px;
    margin-bottom: 30px;
  }
  #subscribe-form input[type="email"] {
    width: 60%;
    padding: 15px;
    font-size: 24px;
  }
  #subscribe-form button[type="submit"] {
    padding: 15px 30px;
    font-size: 24px;
    width: 60%;
  }
}

/* Tablet Screens */
@media (min-width: 768px) and (max-width: 1199px) {
  .subscribe-section {
    padding: 30px;
    width: 100%;
    margin: 0 auto;
  }
  .subscribe-section h1 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .subscribe-section p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  #subscribe-form input[type="email"] {
    width: 70%;
    padding: 10px;
    font-size: 20px;
  }
  #subscribe-form button[type="submit"] {
    padding: 10px 20px;
    font-size: 20px;
    width: 70%;
  }
}

/* Mobile Screens */
@media (min-width: 480px) and (max-width: 767px) {
  .subscribe-section {
    padding: 20px;
    width: 100%;
    margin: 0 auto;
  }
  .subscribe-section h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .subscribe-section p {
    font-size: 18px;
    margin-bottom: 15px;
  }
  #subscribe-form input[type="email"] {
    width: 80%;
    padding: 10px;
    font-size: 18px;
  }
  #subscribe-form button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    width: 80%;
  }
}

/* Small Mobile Screens */
@media (max-width: 479px) {
  .subscribe-section {
    padding: 15px;
    width: 100%;
    margin: 0 auto;
  }
  .subscribe-section h1 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .subscribe-section p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  #subscribe-form input[type="email"] {
    width: 90%;
    padding: 10px;
    font-size: 16px;
  }
  #subscribe-form button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    width: 90%;
  }
}






#icon {
  position: fixed;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 30px;
  cursor: pointer;
  z-index: 1000;
}